@use '../abstracts/' as *;

.rating-card {
  padding: 18px;
  text-align: center;
  font-size: 13px;
  font-weight: var(--fw-bold);
  background-color: var(--clr-light-grayish-magenta);
  border-radius: 8px;

  &__stars {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 16px;
  }

  &__description {
    line-height: 1;
  }

  @include media-breakpoint('desktop') {
    padding: 18px 28px;
    display: flex;
    align-items: center;
    gap: 32px;

    &__stars {
      display: flex;
      margin-bottom: 0;
    }

    &__description {
      line-height: 1;
    }
  }
}
