@use '../abstracts/' as *;

.rating-card {
  padding: 16px;
  text-align: center;
  font-size: 13px;
  font-weight: var(--fw-bold);
  background-color: var(--clr-light-grayish-magenta);
  border-radius: 8px;

  &__stars {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 12px;
  }

  &__description {
    line-height: 1.3;
    font-weight: var(--fw-bold);
    color: var(--clr-very-dark-magenta);
  }

  @include media-breakpoint('desktop') {
    padding: 20px 28px;
    display: flex;
    align-items: center;
    gap: 32px;

    &__stars {
      display: flex;
      margin-bottom: 0;
    }
  }
}
