@use '../abstracts/' as *;

.social-proof {
  padding: 82px 24px;
  display: flex;
  flex-direction: column;
  gap: 2.375rem;
  margin-left: auto;
  margin-right: auto;

  &__introduction {
    text-align: center;
  }

  &__title {
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    color: var(--clr-very-dark-magenta);
    line-height: 1;
    letter-spacing: -0.0625rem;
    margin-bottom: 24px;
  }

  &__lead {
    font-size: 0.875rem;
    letter-spacing: 0.00625rem;
    line-height: 1.8;
  }

  &__ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__testimonials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.625rem;
  }

  @include media-breakpoint('desktop') {
    max-width: 1110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    grid-template-rows: 1fr 1fr;

    &__introduction {
      max-width: 35ch;
      text-align: left;
    }

    &__title {
      margin-bottom: 18px;
    }

    &__ratings {
      display: grid;
      grid-template-rows: repeat(3, 3.5rem);
      align-content: center;

      li {
        width: 84%;
      }

      li:nth-child(1) {
        justify-self: left;
      }
      li:nth-child(2) {
        justify-self: center;
      }
      li:nth-child(3) {
        justify-self: right;
      }
    }

    &__testimonials {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: minmax(max-content, 264px);

      grid-column: 1 / -1;
      gap: 30px;

      & .testimonial-card:nth-child(1) {
        align-self: start;
      }

      & .testimonial-card:nth-child(2) {
        align-self: center;
      }

      & .testimonial-card:nth-child(3) {
        align-self: end;
      }
    }
  }
}
