:root {
  font-size: 100%;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-very-dark-magenta);
}

h1 {
  font-family: var(--ff-heading);
}
