$font-stack: (
  primary: (
    'Spartan',
    sans-serif,
  ),
);

$type-scale: (
  mobile: (
    title: 2rem,
    body: 0.9375rem,
  ),
);

$type-weight: (
  regular: 400,
  medium: 500,
  bold: 700,
);
