$font-stack: (
  heading: (
    'Spartan',
    sans-serif,
  ),
  body: (
    'Spartan',
    sans-serif,
  ),
);

$type-scale: (
  mobile: (
    title: 2rem,
    body: 0.9375rem,
  ),
  desktop: (
    title: 2.9rem,
  ),
);

$type-weight: (
  regular: 400,
  medium: 500,
  bold: 700,
);
